<main>
    <h1>Welcome to Meadowlark Travel</h1>
    <h2>Home Page</h2>
    <p>Questions? Check out our 
        <a href="/about" data-test-id="about">About Us</a> page!
    </p>
</main>
<footer>
    <p>site by satchwerk</p>
</footer>